.featured-items {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.featured-items-item {
    width: 30%;
    text-align: center;
    margin-bottom: 25px;

}
.list {
    list-style: none;
    align-items: center;
}
.cart-list {


}

.cart-list__item {
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(33, 37, 41, 1);
}

.cart-list__item__details {
    flex: 2;
    justify-content: space-between;
    color: #ffffff;

}

.cart-list__btn-remove {
    margin-top: .5rem;
    color: #ff0000;
}

.thumbnail {
    max-width: 100px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.flex-col {
    display: flex;
    align-items: flex-start;
}
.total-section {
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    border-radius: 2em;
    background: #ffffff;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.total-section-list {
    margin: 0;
}

.total-section__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.total-section__item__label {
    font-weight: bold;
    margin-right: 1rem;
}

.total-section__checkout-button {
    width: 100%;
}

.wrapper{
    background-color: dimgrey;
}

.nav-link{
    color: #fff !important;
}

.price {
    color: #fff;
}

.otsikko {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 40px;

}

.btn{
    margin-bottom: 15px;

}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
.product-image {
    margin-bottom: 10px;
}
.product-title {
    color: #fff;
}
.details {
    color: #fff;
    padding-bottom: 1rem;
}
.badge {
    position: absolute;
    top: -.5rem;
    right: -1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #42b983;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
}
